@use 'setup';

.locs-tiles{
    margin-top: 2em;
    background-color: setup.$lightgrey;
    border-radius: setup.$bigradius;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 52px;
	grid-row-gap: 52px;
    padding: 3em;
    .locs-tile{
        transition: transform .1s ease-in-out;
        display: grid;
        cursor: pointer;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.18);
        border-radius: setup.$littleradius;
        position: relative;
            img{
                height: 16em;
                width: 100%;
                object-fit: cover;
                border-radius: setup.$littleradius;
            }
            &:hover{
                transform: scale(1.03);
            }
    }
}

.apt-title{
    color: white;
    font-weight: 400;
    padding: 0.7em;
    position: absolute;
    bottom: 0;
}

.apt-title-bkg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 30%);
    border-radius: setup.$littleradius;
}